*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
height: 100vh;
background-color: whitesmoke
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.introduçao{
    display: flex;
    flex-direction: column;
}

.formulario-page{
    display: flex;
    flex-direction: column;
    width: 50%;
}



h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifss;

}

p{
    font-family: Arial, Helvetica, sans-serif;
}


article{
display: flex;
flex-direction: column;
width: 50%;
}

    input{
        margin-top: 20px;
        height: 20px;
        padding: 15px;
        border: none;
        font-size: 15px;
    }

form [type="text"]{
    width: 150%;
    height: 50%;
    background-color: rgb(177, 177, 177);
    color: black;
    font-weight: bold;
}


li{
    display: inline-block;
}


h1{
    width: 500px;
    height: 70px;
    margin-bottom: 15px;
}

h2{
    width: 500px;
    height: 30px;
}

p{
    width: 300px;
    height: 50px;
}


ul{
    display: inline-block;
    justify-content: space-around;
}

form [type="submit"]{
    width: 150%;
    height: 50%;
    background-color: rgb(34, 118, 34);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
header{
display: flex;
justify-content: space-around;
background-color: aqua;
width: 100%;
padding: 10px;
}

nav h1, nav ul{
   display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul{
    margin: 0;
    padding: 0;
}

